body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url(images/futurewallpaper.jpg) no-repeat;
  background-size: cover;
  height: 800vh;
}

nav {
  background: rgba(5, 62, 128, 0.959);
  backdrop-filter: blur(3px);
  height: 80px;
  width: 100%;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  line-height: 80px;
  background-color: black;
  margin: 0 50px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

nav ul li a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

a.active {
  background: black;
  color: rgb(45, 42, 216);
  padding: 5px 8px;
  border-radius: 50px;
}

#logo {
  width: 70px;
  margin: 0 0 -15px -50px;
}

.burger-button {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1200px) {
  .burger-button {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -1300px;
    transition: all 1s;
  }

  nav ul li {
    display: block;
    padding: 3opx 0;
  }

  nav ul li a {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  background-color: rgba(0, 0, 0, 0.659);
  margin: 0 200px;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgba(220, 0, 0, 0.63);
  margin: 0 200px;
}

h3 {
  color: rgb(231, 18, 103);
  text-align: center;
  font-size: 30px;
  
  margin: 0 200px;
}

h4 {
  color: rgb(205, 10, 10);
  text-align: center;
  font-size: 30px;
  
  margin: 0 200px;
}

p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 80%;
  padding-left: 50px;
  
}

#HomeImg {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#DesignImg {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;  
left: 10px;  
bottom: 5px;  
right: 10px;   
width: 95%;  
height: 120px;
background-color: rgb(161, 0, 0);  
color: white;  
text-align: left;  
}

article{
  padding: 20px;
}

.comp-button{
  margin-left: 30px;
}

